testing.ipynb
*.csv
Video/Multiboat
config.py
__pycache__
Video/Multi/*.png
Video
test1
Demo
Demo.zip
test1.zip
demo.mkv
yolov8n.pt
multistream.py
mare_forte.mkv
notturno.mkv
multi.mkv
risk.py
config.py 
demo_vanilla.py 
demo_YOLO.py